In [ ]:
# Dictionary
# -Indexed
# -Duplicate
# -Ordered
# -Mutable

In [ ]:
#d = {<key>:<value>,<key>:<value>,...}

In [1]:
d = {'a':'apple','b':'ball','c':'cat'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [3]:
print(d['a'])
print(d['b'])
print(d['c'])

apple
ball
cat

In [5]:
d = {'a':'apple','b':'ball','c':'cat', 'a':'Apple'}
d

{'a': 'Apple', 'b': 'ball', 'c': 'cat'}

In [2]:
# d = dict()
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
d = {}
n = int(input("Enter n ="))
for i in range (n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
print(d)

Enter n =2
Enter name = Ram
Enter phone = 98076754321
Enter name = Shyam
Enter phone = 98045674321
{'Ram': 98076754321, 'Shyam': 98045674321}

In [9]:
for i in d:
    print(i)

Ram
Shyam

In [10]:
for i in d.values():
    print(i)

98076754321
98045674321

In [11]:
for i in d.items():
    print(i)

('Ram', 98076754321)
('Shyam', 98045674321)

In [13]:
l = []
for i in d.items():
    l.append(i)
print(l)

[('Ram', 98076754321), ('Shyam', 98045674321)]

In [14]:
dict(l)

{'Ram': 98076754321, 'Shyam': 98045674321}

In [15]:
d = {'Ram': 98076754321, 'Shyam': 98045674321}
d['Ram'] = 9800000000
d

{'Ram': 9800000000, 'Shyam': 98045674321}

In [16]:
d = {'Ram': 98076754321, 'Shyam': 98045674321}
d['Rama'] = 9800000000
d

{'Ram': 98076754321, 'Shyam': 98045674321, 'Rama': 9800000000}

In [17]:
# del pop()
d = {'Ram': 9800000000, 'Shyam': 98045674321}
del d['Ram']
d

{'Shyam': 98045674321}

In [18]:
d = {'Ram': 9800000000, 'Shyam': 98045674321}
x = d.pop('Ram')
print (d)
print(x)

{'Shyam': 98045674321}
9800000000

In [ ]:
# no + *

In [22]:
d = {'Ram': 9800000000, 'Shyam': 98045674321}
a = {'Hari':9808667643}
c = a+d
c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [23]:
d.update(a)
print(d)

{'Ram': 9800000000, 'Shyam': 98045674321, 'Hari': 9808667643}

In [24]:
#list inside dict
d = {'Ram':[9800000000, 9803456749],'shyam':[9807645352, 9806521343]}
d

{'Ram': [9800000000, 9803456749], 'shyam': [9807645352, 9806521343]}

In [25]:
print(d['Ram'])

[9800000000, 9803456749]

In [26]:
print(d['Ram'][0])

9800000000

In [33]:
d['Hari'] = [9867543210,9807654321]
d

{'Ram': [9800000000, 9803456749],
 'shyam': [9807645352, 9806521343],
 'Hari': [9867543210, 9807654321]}

In [35]:
d = {}
n = int(input("Enter n ="))
for i in range (n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter phone = "))
    ncell_phone = int(input("Enter phone = "))
    d[name] = [ntc_phone,ncell_phone]
print(d)

Enter n =2
Enter name = Ram
Enter phone = 9800000000
Enter phone = 9808543216
Enter name = shyam
Enter phone = 9841276543
Enter phone = 98673451251
{'Ram': [9800000000, 9808543216], 'shyam': [9841276543, 98673451251]}

In [37]:
# dict inside list 
l = [{'name':'Ram','age':45,'add':'kathmandu'},
    {'name':'Rama','age':35,'add':'Bhaktapur'},
    {'name':'Sita','age':65,'add':'kathmandu'}]
l[2]

{'name': 'Sita', 'age': 65, 'add': 'kathmandu'}

In [38]:
l.append({'name':'Sarita','age':55,'add':'kathmandu'})
l

[{'name': 'Ram', 'age': 45, 'add': 'kathmandu'},
 {'name': 'Rama', 'age': 35, 'add': 'Bhaktapur'},
 {'name': 'Sita', 'age': 65, 'add': 'kathmandu'},
 {'name': 'Sarita', 'age': 55, 'add': 'kathmandu'}]

In [41]:
l =[]
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'name':name,'age':age,'add':add}
    l.append(data)
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 45
Enter add = kathmandu
Enter name = shyam
Enter age = 65
Enter add = lalitpur
[{'name': 'Ram', 'age': 45, 'add': 'kathmandu'}, {'name': 'shyam', 'age': 65, 'add': 'lalitpur'}]

In [4]:
#dict inside dict
d ={1:{'name': 'Ram', 'age': 45, 'add': 'kathmandu'},
   2: {'name': 'shyam', 'age': 65, 'add': 'lalitpur'},
   3: {'name': 'sita', 'age': 78, 'add': 'Bhaktapur'}}
print(type(d))

<class 'dict'>

In [5]:
d[4] = {'name': 'sabin', 'age': 35, 'add': 'kathmandu'}
d

{1: {'name': 'Ram', 'age': 45, 'add': 'kathmandu'},
 2: {'name': 'shyam', 'age': 65, 'add': 'lalitpur'},
 3: {'name': 'sita', 'age': 78, 'add': 'Bhaktapur'},
 4: {'name': 'sabin', 'age': 35, 'add': 'kathmandu'}}

In [8]:
d = {}
n = int(input("Enter n ="))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d[i] = {'name':name, 'age':age,'add':add}

Enter n =3
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 40
Enter add = lalitpur
Enter name = Hari
Enter age = 35
Enter add = Bhaktapur

In [9]:
print(d)

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 40, 'add': 'lalitpur'}, 3: {'name': 'Hari', 'age': 35, 'add': 'Bhaktapur'}}

In [10]:
d

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 40, 'add': 'lalitpur'},
 3: {'name': 'Hari', 'age': 35, 'add': 'Bhaktapur'}}

In [11]:
d[1]

{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}

In [12]:
d[1]['name'] ='Rama'
d

{1: {'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 40, 'add': 'lalitpur'},
 3: {'name': 'Hari', 'age': 35, 'add': 'Bhaktapur'}}