In [ ]:
#python collection 
# -list
# -Tuple
# -Dict
# -set

In [ ]:
# # -list
# - Indexing
# -ordered
# -Duplicate and multiple values 
# - mutable

In [2]:
a = ["Apple","Ball","cat","Dog","Fish"]
print(type(a))
print(a)

<class 'list'>
['Apple', 'Ball', 'cat', 'Dog', 'Fish']

In [3]:
print(len(a))

5

In [4]:
a = ["Apple","Ball","cat","Dog","Fish"]
print(a[0])
print(a[-1])

Apple
Fish

In [5]:
a = ["Apple","Ball","cat","Dog","Fish"]
print(a[0:4])

['Apple', 'Ball', 'cat', 'Dog']

In [7]:
a = ["Apple","Ball","cat","Dog","Fish"]
a[0:5:2]

['Apple', 'cat', 'Fish']

In [4]:
a = ["Apple", "Ball", "cat", "Dog"]
b = ["Goat","Fish"]
c = a+b
print(c)

['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'Fish']

In [3]:
a = ['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'fish']
a.append('Apple')
print(a)

['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'fish', 'Apple']

In [2]:
a = ["Apple","Ball","cat","Dog","Fish"]
a.insert(1,'apple')
print(a)

['Apple', 'apple', 'Ball', 'cat', 'Dog', 'Fish']

In [5]:
a = ['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'fish']
b = [1,2,3,4]
a.extend(b)
print(a)

['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'fish', 1, 2, 3, 4]

In [6]:
a = list()
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    a.append(x)
    
print (a)

Enter n =5
Enter x =32
Enter x =54
Enter x =576
Enter x =80
Enter x =90
[32, 54, 576, 80, 90]

In [9]:
print("sum = ",sum(a))
print("max = ",max(a))
print("min = ",min(a))
a.sort()
print(a)
a.reverse()
print(a)

sum =  832
max =  576
min =  32
[32, 54, 80, 90, 576]
[576, 90, 80, 54, 32]

In [10]:
a = ['Zebra','Apple','Ball','Xray','apple']
a.sort()
print(a)

['Apple', 'Ball', 'Xray', 'Zebra', 'apple']

In [11]:
a = ['Zebra','Apple','Ball','Xray','apple']
for i in a:
    print(i)

Zebra
Apple
Ball
Xray
apple

In [16]:
a = ['Zebra','Apple','Ball','Xray','apple']
for i in a:
    if i != 'Ball':
        
        print(i)

Zebra
Apple
Xray
apple

In [17]:
a = ['Zebra','Apple','Ball','Xray','apple']
value = input("Enter a = ")
if "Apple" in a:
    print("yes")
else:
    print("No")

Enter a = apple
yes

In [20]:
a = ['Zebra','Apple','Ball','Xray','apple']
l = len(a)
for i in range(l):
    print(a[i])

Zebra
Apple
Ball
Xray
apple

In [23]:
a = ['Zebra','Apple','Ball','Xray','apple']
l = len(a)
value = input("Enter value = ")
for i in range(l):
    if a[i].lower() == value.lower():
        print("yes")
        break
else:
    print("No")

Enter value = sdfd
No

In [2]:
a = ['Zebra','Apple','Ball','Xray','apple']
value = input("Enter value = ")
for i in a:
    if i.lower() == value.lower():
        print("yes")
        break
else:
    print("No")

Enter value = Apple
yes

In [3]:
a = ['Zebra','Apple','Ball','Xray','apple']
a.index('Zebra')

0

In [1]:
a = ['Zebra','Apple','Ball','Xray','Apple']
for i in range (len(a)):
    if a[i] == "Apple":
        print(i)

1
4

In [2]:
# update values 
a = ['Zebra','Apple','Ball','Xray','Apple']
a[0] = 'zebra'
print(a)

['zebra', 'Apple', 'Ball', 'Xray', 'Apple']

In [3]:
# update values 
a = ['Zebra','Apple','Ball','Xray','Apple']
a[0:2] = ['zebra','apple']
print(a)

['zebra', 'apple', 'Ball', 'Xray', 'Apple']

In [9]:
#del remove() pop()
a = ['Zebra','Apple','Ball','Xray','Apple']
del a[0]
print(a)

['Apple', 'Ball', 'Xray', 'Apple']

In [8]:
a = ['Zebra','Apple','Ball','Xray','Apple']
del a[0:2]
print(a)

['Ball', 'Xray', 'Apple']

In [10]:
a = ['Zebra','Apple','Ball','Xray','Apple']
b = a.pop(0)
print(b)
print(a)

Zebra
['Apple', 'Ball', 'Xray', 'Apple']

In [2]:
a = ['Zebra','Apple','Ball','Xray','Apple']
a.remove('Zebra')
a

['Apple', 'Ball', 'Xray', 'Apple']

In [3]:
a = ['Zebra','Apple','Ball','Xray','Apple']
l = a.count('Apple')
for i in range(l):
    a.remove('Apple')
    
print(a)

['Zebra', 'Ball', 'Xray']

In [23]:
# Neted list (list inside list)

a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(len(a))

3

In [7]:
a = [['Ram',34,'kathmandu'],
    ['shyam', 21,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
print(a)

[['Ram', 34, 'kathmandu'], ['shyam', 21, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [8]:
print(a[2])

['Hari', 67, 'Bhaktapur']

In [9]:
print(a[2][0])

Hari

In [10]:
a = list()
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    a.append([name,age,add])
    
print (a)

Enter n =2
Enter name = Ram
Enter age = 23
Enter add = kathmandu
Enter name = shyam
Enter age = 45
Enter add = lalitpur
[['Ram', '23', 'kathmandu'], ['shyam', '45', 'lalitpur']]

In [11]:
a = [['Ram', '23', 'kathmandu'], ['shyam', '45', 'lalitpur']]
a.append(['Hari',45,'Bhaktapur'])
a

[['Ram', '23', 'kathmandu'],
 ['shyam', '45', 'lalitpur'],
 ['Hari', 45, 'Bhaktapur']]

In [16]:
a =[['Ram', '23', 'kathmandu'],
 ['shyam', '45', 'lalitpur'],
 ['Hari', 45, 'Bhaktapur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print("yes")

Enter name = Ram
yes

In [17]:
a =[['Ram', '23', 'kathmandu'],
 ['shyam', '45', 'lalitpur'],
 ['Hari', 45, 'Bhaktapur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', '23', 'kathmandu']

In [18]:
a = [['Ram', '23', 'kathmandu'],['shyam', '45', 'lalitpur'],['Hari', 45, 'Bhaktapur']]
a[0][0] = 'Ramesh'
a

[['Ramesh', '23', 'kathmandu'],
 ['shyam', '45', 'lalitpur'],
 ['Hari', 45, 'Bhaktapur']]

In [19]:
a = [['Ram', '23', 'kathmandu'],['shyam', '45', 'lalitpur'],['Hari', 45, 'Bhaktapur']]
a[0][0] = input("Enter Name = ")
a

Enter Name = Ramesh

[['Ramesh', '23', 'kathmandu'],
 ['shyam', '45', 'lalitpur'],
 ['Hari', 45, 'Bhaktapur']]

In [20]:
a = [['Ram', '56', 'Bara'],['shyam', '45', 'lalitpur'],['Hari', 45, 'Bhaktapur']]
a[0][0] = input("Enter Name = ")
a

Enter Name = Rama

[['Rama', '56', 'Bara'],
 ['shyam', '45', 'lalitpur'],
 ['Hari', 45, 'Bhaktapur']]

In [21]:
a = [['Ram', '56', 'Bara'],['shyam', '45', 'lalitpur'],['Hari', 45, 'Bhaktapur']]
index = int(input("Enter index = "))
a[index][0] = input ("Enter name = ")
a[index][1] = input("Enter age = ")
a[index][2] = input ("Enter add = ")

Enter index = 1
Enter name = shyam sundar
Enter age = 23
Enter add = lalitpur

In [22]:
print(a)

[['Ram', '56', 'Bara'], ['shyam sundar', '23', 'lalitpur'], ['Hari', 45, 'Bhaktapur']]

In [24]:
s = str()
all_total = 0
i = 0
n = int(input("Enter n ="))
while i<n:
    product = input("Enter name = ")
    price = int(input("Enter product price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total+total
    s= s+f"{product} {price} {quantity} {total}\n"
    i = i+1
print(s)
print("All total =",all_total)

Enter n =2
Enter name = Apple
Enter product price = 400
Enter quantity = 2
Enter name = Banana
Enter product price = 200
Enter quantity = 3
Apple 400 2 800
Banana 200 3 600

All total = 1400

In [25]:
print(s)

Apple 400 2 800
Banana 200 3 600

In [26]:
(s)

'Apple 400 2 800\nBanana 200 3 600\n'

In [28]:
s.split('\n')

['Apple 400 2 800', 'Banana 200 3 600', '']

In [30]:
s = 'Apple 400 2 800\nBanana 200 3 600\n'
a = s.split('\n')[0:-1]
for i in a:
    print(i.split())

['Apple', '400', '2', '800']
['Banana', '200', '3', '600']

In [36]:
bill = [] 
s = 'Apple 400 2 800\nBanana 200 3 600\n'
a = s.split('\n')[0:-1]
for i in a:
    x = i.split()
    print(x)
    bill.append(x)

    
bill

['Apple', '400', '2', '800']
['Banana', '200', '3', '600']

[['Apple', '400', '2', '800'], ['Banana', '200', '3', '600']]