In [ ]:
# set
# -No Indexing
# -unordered
# -No duplicate data
# -mutable

In [1]:
s = {1,2,3,4}
t ={"Apple",'Ball','Cat'}
print(type(s))
print(type(t))

<class 'set'>
<class 'set'>

In [2]:
t = {"Apple",'Ball','Cat'}
print(t)
print(s)

{'Ball', 'Cat', 'Apple'}
{1, 2, 3, 4}

In [3]:
t = {"Apple",'Ball','Cat'}
t[0]

TypeError: 'set' object is not subscriptable

In [4]:
s = {1,2,1,3,4,5,6,3,4,6,5}
print(s)

{1, 2, 3, 4, 5, 6}

In [ ]:
#add () #update ()
#union () intersection() difference()
#remove ()

In [5]:
s = set()
s.add('Ram')
s

{'Ram'}

In [6]:
a = {1,2,3,4}
b = {'Apple','Ball'}
a.update(b)
a

{1, 2, 3, 4, 'Apple', 'Ball'}

In [7]:
a.remove('Apple')
a

{1, 2, 3, 4, 'Ball'}

In [8]:
#union(), #intersection(), difference()
apple = {'Ram','Shyam','jobs','jack','sameer'}
ms = {'Gates','sushil','sabin','sameer'}

intr = apple.intersection(ms)
print(intr)

{'sameer'}

In [9]:
apple.union(ms)

{'Gates', 'Ram', 'Shyam', 'jack', 'jobs', 'sabin', 'sameer', 'sushil'}