In [1]:
a = 'pyrhon'
b = "python"
c = '''python'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = '''Ram said "He is good teacher" '''
type(a)

str

In [4]:
a = "Hello"
b = "world"
c = a+b
print(c)

Helloworld

In [5]:
a = "Hello world\n"
print(a*2)

Hello world
Hello world

In [7]:
a = "Hello world"
a[2]

'l'

In [8]:
a = input("Enter a = ")
print(a)

Enter a = hello
hello

In [9]:
a = "Hello World"
b = a[:5]
c = a[5:]
print(b)
print(c)

Hello
 World

In [10]:
a = "Hello world"
b = a[0:10:2]
print(b)

Hlowr

In [13]:
name = "Ram"
age = 34
add ="kathmandu"

info = "Hello world i am "+name+" I am from "+add+" I am "+str(age)
print(info)

Hello world i am Ram I am from kathmandu I am 34

In [15]:
#string formatting 
name = "Ram"
age = 34 
add = "kathmandu"

info = f"Hello world i am {name}. I am from {add}. I am {age}"
print (info)

Hello world i am Ram. I am from kathmandu. I am 34

In [17]:
s = str()
all_total = 0
i = 0
n = int(input("Enter n ="))
while i<n:
    product = input("Enter name = ")
    price = int(input("Enter product price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total+total
    s= s+f"{product} {price} {quantity} {total}\n"
    i = i+1
print(s)
print("All total =",all_total)

Enter n =1
Enter name = apple
Enter product price = 444
Enter quantity = 2
apple 444 2 888

All total = 888

In [18]:
a = "Ram shyam Hari Sita Nita"
if "Ram" in a:
    print("yes")
else:
    print("No")

yes

In [19]:
a = "Ram shyam Hari Sita Nita"
if "Ram" in a:
    print("yes", a.count("Ram"))
else:
    print("No")

yes 1

In [20]:
a = "Ram shyam Hari Sita Nita"
name = input("Enter name = ")
if name in a:
    print("yes", a.count("name"))
else:
    print("No")

Enter name = Ram
yes 0

In [21]:
#string is a imutable datatype
a = "Ram shyam Hari Sita Nita Ram"
print(a.lower())
print(a)

ram shyam hari sita nita ram
Ram shyam Hari Sita Nita Ram

In [22]:
a = "Ram shyam Hari Sita Nita Ram"
a = a.lower()
a

'ram shyam hari sita nita ram'

In [23]:
a = "Ram shyam Hari Sita Nita Ram"
a = a.upper()
a

'RAM SHYAM HARI SITA NITA RAM'

In [24]:
a = "Ram shyam Hari Sita Nita Ram".lower()
name = input("Enter name = ").lower()
if name in a:
    print("yes", a.count("name"))
else:
    print("No")

Enter name = ram
yes 0

In [1]:
a = "Ram shyam Hari Sita Nita Ram"
a.replace('Ram','Rama')

'Rama shyam Hari Sita Nita Rama'

In [2]:
a = "Ram shyam Hari Sita Nita Ram"
a.replace('Ram','')
print(a)

Ram shyam Hari Sita Nita Ram

In [ ]:
#write a program to search value in a string and replace it by using replace function (Assignment)