In [ ]:
# comprehensions: list, Dictionary

In [1]:
data = [i for i in range (5)]
data

[0, 1, 2, 3, 4]

In [2]:
data = [int(input("Enter value = ")) for i in range (5)]
data

Enter value = 4
Enter value = 3
Enter value = 5
Enter value = 3
Enter value = 2

[4, 3, 5, 3, 2]

In [3]:
data = [input("Enter value = ") for i in range (5)]
data

Enter value = Apple
Enter value = Ball
Enter value = cat
Enter value = Dog
Enter value = fish

['Apple', 'Ball', 'cat', 'Dog', 'fish']

In [4]:
l = [2,4,5,6,2,7,9,0,1,3,6]
data = [i for i in l if i%2==0]
data

[2, 4, 6, 2, 0, 6]

In [5]:
l = ['Apple','Ball','cat','Bus','fish']
data = [i for i in l if i[0].isupper()]
data

['Apple', 'Ball', 'Bus']

In [6]:
d = {i:i**2 for i in range (1,6)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [7]:
l = ['Apple','Ball','cat','Bus','Fish']
d = {i:i.lower()for i in l}
d

{'Apple': 'apple', 'Ball': 'ball', 'cat': 'cat', 'Bus': 'bus', 'Fish': 'fish'}

In [8]:
d = {input("Enter name ="):int(input("Enter phone = ")) for i in range (2)}
d

Enter name =Ram
Enter phone = 986754321
Enter name =Shyam
Enter phone = 980876567

{'Ram': 986754321, 'Shyam': 980876567}

In [9]:
import datetime
x = datetime.datetime.now()
print(x)

2022-10-19 07:54:37.952008

In [10]:
import datetime

x = datetime.datetime.now()
name = input("Enter name =")
y = datetime.datetime.now()
print(y-x)

Enter name =Nista
0:00:12.573388

In [11]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Wed Oct 19 07:55:25 2022

In [12]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Wed Oct 19 07:56:03 2022

In [14]:
import os 
os.listdir()

['.ipynb_checkpoints',
 'Assignment.ipynb',
 'bill.csv',
 'bill.text',
 'comprehensive.ipynb',
 'data.csv',
 'data.text',
 'data.txt',
 'Day 19_python_python+mysql.ipynb',
 'day 3.ipynb',
 'Day 4,5,6 Loop.ipynb',
 'Dictionary.ipynb',
 'FILE.ipynb',
 'FUNCTION.ipynb',
 'Inheritance.ipynb',
 'LIST.ipynb',
 'new_data.csv',
 'new_data1.csv',
 'PANDAS.ipynb',
 'Python OOP day 21 .ipynb',
 'SET.ipynb',
 'STRING .ipynb',
 'Tuple and Set.ipynb',
 'Untitled1.ipynb']

In [15]:
os.remove('bill.csv')
os.listdir()

['.ipynb_checkpoints',
 'Assignment.ipynb',
 'bill.text',
 'comprehensive.ipynb',
 'data.csv',
 'data.text',
 'data.txt',
 'Day 19_python_python+mysql.ipynb',
 'day 3.ipynb',
 'Day 4,5,6 Loop.ipynb',
 'Dictionary.ipynb',
 'FILE.ipynb',
 'FUNCTION.ipynb',
 'Inheritance.ipynb',
 'LIST.ipynb',
 'new_data.csv',
 'new_data1.csv',
 'PANDAS.ipynb',
 'Python OOP day 21 .ipynb',
 'SET.ipynb',
 'STRING .ipynb',
 'Tuple and Set.ipynb',
 'Untitled1.ipynb']

In [16]:
os.mkdir('newFolder')
os.listdir()

['.ipynb_checkpoints',
 'Assignment.ipynb',
 'bill.text',
 'comprehensive.ipynb',
 'data.csv',
 'data.text',
 'data.txt',
 'Day 19_python_python+mysql.ipynb',
 'day 3.ipynb',
 'Day 4,5,6 Loop.ipynb',
 'Dictionary.ipynb',
 'FILE.ipynb',
 'FUNCTION.ipynb',
 'Inheritance.ipynb',
 'LIST.ipynb',
 'newFolder',
 'new_data.csv',
 'new_data1.csv',
 'PANDAS.ipynb',
 'Python OOP day 21 .ipynb',
 'SET.ipynb',
 'STRING .ipynb',
 'Tuple and Set.ipynb',
 'Untitled1.ipynb']