In [ ]:
#file = open('<file_name>','<mode>')
#file.close()


#with open ('<file_name>','<mode>') as file:
 #   <opeeration>

In [ ]:
# modes
# r ->read
# x->create
# w ->write
# a -> append

In [3]:
file = open('data.text','x')
file.close()

FileExistsError: [Errno 17] File exists: 'data.text'

In [4]:
try:
    file = open('data.text','x')
    file.close()
except:
    print("File exists: 'data.text'")

File exists: 'data.text'

In [7]:
file = open('data.text','r')
x = file.read()
print(x)
file.close()

1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world

In [9]:
file = open('data.text','r')
x = file.read()
print(type(x))
print(x)
file.close()

<class 'str'>
1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world

In [10]:
file = open('data.text','r')
x = file.read()
print(x.split('\n'))
print(type(x))
print(x)
file.close()

['1.Hello world', '2.Hello world', '3.Hello world', '4.Hello world', '5.Hello world', '6.Hello world']
<class 'str'>
1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world

In [13]:
file = open('data.text','r')
x = file.read()
print(x.split('\n'))
print(type(x))
print(x)
file.close()

['1.Apple 300 3 300', '2.Banana 100 2 200']
<class 'str'>
1.Apple 300 3 300
2.Banana 100 2 200

In [14]:
all_data = []
file = open('data.text','r')
x = file.read().split('\n')
for i in x:
      all_data.append(i.split())
file.close()
all_data

[['1.Apple', '300', '3', '300'], ['2.Banana', '100', '2', '200']]

In [15]:
all_data = []
file = open('data.text','r')
x = file.read().split('\n')
for i in x:
    y = i.split()
    y[1] = int(y[1])
    y[2] = int(y[2])
    y[3] = int(y[3])
    all_data.append(i.split())
file.close()
all_data

[['1.Apple', '300', '3', '300'], ['2.Banana', '100', '2', '200']]

In [19]:
with open('data.txt','w')as file:
    file.write('Hello world')

In [22]:
s = str()
all_total = 0
i = 0
n = int(input("Enter n ="))
while i<n:
    product = input("Enter name = ")
    price = int(input("Enter product price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total+total
    s= s+f"{product} {price} {quantity} {total}\n"
    i = i+1
print(s)

with open('bill.text','w') as file:
    file.write(s)

Enter n =2
Enter name = Apple
Enter product price = 400
Enter quantity = 10
Enter name = Banana
Enter product price = 200
Enter quantity = 12
Apple 400 10 4000
Banana 200 12 2400

In [25]:
s = str()
all_total = 0
i = 0
n = int(input("Enter n ="))
while i<n:
    product = input("Enter name = ")
    price = int(input("Enter product price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total+total
    s= s+f"{product}, {price}, {quantity}, {total}\n"
    i = i+1
print(s)

with open('bill.csv','w') as file:
    file.write('Name,price,quantity,total\n')
    file.write(s)

Enter n =2
Enter name = Ram
Enter product price = 300
Enter quantity = 20
Enter name = shyam
Enter product price = 400
Enter quantity = 10
Ram, 300, 20, 6000
shyam, 400, 10, 4000

In [27]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

    Name  price  quantity  total
0    Ram    300        20   6000
1  shyam    400        10   4000

In [24]:
pwd

'C:\\Users\\nista\\python class'