In [ ]:
#Tuple
#-Indexing
#-ordered
#-Duplicate and multiple data
#-Imutable

In [1]:
a = (1,2,3,4,5)
b = tuple()
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [2]:
a = ("Apple", "Ball","Cat", "Dog","fish")
print(a[0])
print(a[1])
print(a[2])

Apple
Ball
Cat

In [3]:
a = ("Apple", "Ball","Cat", "Dog","fish")
print(a[0:4])

('Apple', 'Ball', 'Cat', 'Dog')

In [4]:
a = ("Apple", "Ball","Cat", "Dog","fish")
print(a[0:6:2])

('Apple', 'Cat', 'fish')

In [5]:
a = ("Apple", "Ball","Cat", "Dog","fish")
print(a[::2])

('Apple', 'Cat', 'fish')

In [6]:
a = ("Apple", "Ball","Cat", "Dog","fish")
print(a[::-1])

('fish', 'Dog', 'Cat', 'Ball', 'Apple')

In [7]:
a = "python"
a[::-1]

'nohtyp'

In [8]:
a = ("Apple", "Ball","Cat", "Dog","fish")
b = ("Goat","Apple")
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'fish', 'Goat', 'Apple')

In [9]:
a = ("Apple","Ball")
type(a)

tuple

In [10]:
a = ("Apple")
type(a)

str

In [ ]:
#No append insert extend
#No update or edit 
#No Delete remove pop

In [13]:
a = (1,2,3,4)
b = list(a)
del b[0]
a = tuple(b)
a

(2, 3, 4)

In [14]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
    
print(t)

Enter n = 5
Enter x = 234
Enter x = 456
Enter x = 56
Enter x = 23
Enter x = 56
(234, 456, 56, 23, 56)

In [16]:
print("Sum = ",sum(t))
print("max = ",max(t))
print("min =",min(t))
print(sorted(t))
print(t)

Sum =  825
max =  456
min = 23
[23, 56, 56, 234, 456]
(234, 456, 56, 23, 56)

In [ ]:
x = (1,2,3),
    (4,5,6),
    (7,8,9))

In [18]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    t = t+((name,age,add),)
    
print(t)

Enter n = 2
Enter name = Ram
Enter age = 24
Enter add = Kathmandu
Enter name = Shyam
Enter age = 30
Enter add = lalitpur
(('Ram', 24, 'Kathmandu'), ('Shyam', 30, 'lalitpur'))

In [19]:
y = list(t)
y

[('Ram', 24, 'Kathmandu'), ('Shyam', 30, 'lalitpur')]

In [21]:
#tuple inside list
a = [('Ram', 24, 'Kathmandu'), ('Shyam', 30, 'lalitpur')]

In [4]:
a = [('Ram', 24, 'Kathmandu'), ('Shyam', 30, 'lalitpur')]
a.append(('shyama', 24, 'lalitpur'))
print(a)

[('Ram', 24, 'Kathmandu'), ('Shyam', 30, 'lalitpur'), ('shyama', 24, 'lalitpur')]

In [5]:
a[0][0] = "Ram"

TypeError: 'tuple' object does not support item assignment

In [8]:
a = (('Ram',67, 'kathmandu'),('shyam', 34, 'Bhaktapur'))
l = []
for i in a:
    l.append(list(i))
print(l)

[['Ram', 67, 'kathmandu'], ['shyam', 34, 'Bhaktapur']]

In [10]:
a = [['Ram',67, 'kathmandu'],['shyam', 34, 'Bhaktapur']]
l = ()
for i in a:
    l = l+(tuple(i),)
print(l)

(('Ram', 67, 'kathmandu'), ('shyam', 34, 'Bhaktapur'))

In [ ]:
#r = ?
#c = ?
#input x = ?
#matrix = [[1,2,3],
         [4,5,6],
         [7,8,9]]

#matrix = ((1,2,3),
         (4,5,6),
         (7,8,9))

#Assignment